/* Задаём цвет body. Если цвет прописан в HTML <style> файле, то он будет приоритетней чем CSS */
/* body{
    background-color: rgba(0, 102, 255, 0.473);
} */

/* Меняем параметры div: цвет / высота/ ширина */
div{
    background-color: aqua;
    height: 200px;
    width: 400px;
}

/* Изменение цвета текста. Идет обращение ко всем <p> */
p {
    color: rgb(5, 197, 47);
}

/* Меняем цвет текста только внутри div */
div p {
    color: rgb(128, 0, 64);
}

/* Меняем размер текста в <span> */
div p span {
    font-size: 30px;
}