/* display: flex; - переводит все элемены внутри div в одну строку */
.d-flex{
    display: flex;
    /* Выравнивание элементов div по горизонтали center/left и тд. 
    space-between -расставляет на одинаковые расстаяния */
    justify-content: space-between;
    /* Выравнивание по горизонтали 
    flex-start - выравнивает по верх краю
    flex-end - нижний край
    flex-center - по центру */
    align-items: flex-start;
}

img {
    width: 100px;
}

/* Перевод из строчного элемента в блочный. inline- наоборот */
a{
    display: block;
}

.block {
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    /* переводит блок в строку */
    /* display: inline-block; */
    
}