div{
    width: 300px;
    height: 300px;
}

.block1 {
    background-color: blue;
    /* если делаем отступ не по 4-м сторонам, то используем команды*/
    /* padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px; */

    /* Если делаем везде одинаковый отступ, то... */
    padding: 30px;


    /* Либо записать так. Будет означать, что верх и низ 30px отступ, а лево и право по 10px*/
    /* padding: 30px 10px; */

    /* Если записать так, то сверху 30, лево право 50, снизу 10 */
    /* padding: 30px 50px 10px; */

    /* Если так, то по часовой стрелке считаем. Верх=30 право=50 низ=10 лево=25 */
    /* padding: 30px 50px 10px 25px; */

    /* Схема использования margin аналогична padding */
    margin: 50px;
    
}

.block2 {
    background-color: green;
}