/* Обращаемся к классу и записываем его стиль. Обращение к классу делается через точку */
.mainBox {
    width: 100;
    height: 633px;
    background: aqua;
}

/* Обращаюсь к и всем блокам с этим классом классу внутри .mainBox и задаю параметры высоты и ширины */
.box {
    width: 400px;
    height: 200px;
}

/* Работа с конкретным блоком и классом*/
.boxBlue {
    background: blue;
}
.boxRed {
    background: red;
}
.boxGreen {
    background: green;
}
/* Обращение к ID делается через # */
#mainIdBox {
    width: 100%;
    height: 200px;
    background: gray;
    color: brown;
}